@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$text: $white;
$link: $white;
$h2: $white;
@import '~bulma';

body {
  background-color: $black-bis;
}
.navbar {
  background-color: $black-bis;
}
.footer {
  background-color: $black-bis;
}
